<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Blue Collar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Chivo:900">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
		<link rel="stylesheet" href="css/collar.css">
		<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="fork"><a href="http://github.com/ChadBurggraf/blue-collar">Fork me on GitHub</a></div>