<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title != 'Blue Collar' %}{{ page.title }} (Blue Collar){% else %}Blue Collar{% endif %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Chivo:900">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.css">
		<link rel="stylesheet" href="css/syntax.css">
		<link rel="stylesheet" href="css/collar.css">
		<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<![endif]-->
	</head>
	<body data-spy="scroll" data-target=".subnav" data-offset="80">
		<div class="fork"><a href="https://github.com/ChadBurggraf/blue-collar">Fork me on GitHub</a></div>