.vs/
*.csproj.user
*.InstallLog
*.snk
*.suo
Source/BlueCollar.Dashboard/Web.config
Source/BlueCollar.Test/App.config
StyleCop.Cache
testimpactdata.sdf
App_Data/
Artifacts/
Backup/
bin/
Build/
obj/
Source/BlueCollar.Dashboard/Static/Css/*
Source/BlueCollar.Dashboard/Static/Img/*
Source/BlueCollar.Dashboard/Static/Js/*
Temp/
TestResults/

