<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/Collar.log" keepFileOpen="false" layout="${longdate} - ${level} - ${message}"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Debug" writeTo="file"/>
  </rules>
</nlog>