<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="blueCollar" type="BlueCollar.BlueCollarSection, BlueCollar" allowDefinition="Everywhere" allowLocation="true" requirePermission="false"/>
  </configSections>
  
  <blueCollar applicationName="Blue Collar Test"/>
  
  <connectionStrings>
    <!-- 
    To run SQL Server tests, fill out the connection string below, 
    and ensure you've created the Blue Collar schema on the target database. 
    -->
    <add name="SqlServerRepository" connectionString=""/>
    <add name="TestNoOpRepository" connectionString="data source=(local);initial catalog=BlueCollar"/>
  </connectionStrings>
</configuration>