<script type="text/template" id="nav-template">
    <li>
        <a href="#dashboard">
            <span class="badge badge-inverse">0</span>
            Dashboard
        </a>
    </li>
    <li>
        <a href="#working">
            <span class="badge badge-inverse">0</span>
            Working
        </a>
    </li>
    <li>
        <a href="#queue">
            <span class="badge badge-inverse">0</span>
            Queue
        </a>
    </li>
    <li>
        <a href="#history">
            <span class="badge badge-inverse">0</span>
            History
        </a>
    </li>
    <li class="active">
        <a href="#workers">
            <span class="badge badge-inverse">0</span>
            Workers
        </a>
    </li>
    <li>
        <a href="#schedules">
            <span class="badge badge-inverse">0</span>
            Schedules
        </a>
    </li>
</script>