<script type="text/template" id="scheduled-jobs-edit-template">
    <fieldset>
        <p class="legend"><% if (!Id) { print('Add Job'); } else { print('Edit Job'); } %></p>

        <div class="alert alert-block alert-error"></div>

        <label class="field">
            <span>Job type <em>*</em></span>
            <input type="text" name="JobType">
            <span class="help-block">e.g., <code>MyNamespace.MyJob, MyAssembly</code></span>
            <span class="error"></span>
        </label>

        <label class="field">
            <span>Data</span>
            <textarea class="code" rows="5" name="Data"></textarea>
            <span class="help-block">Well-formed JSON that can be de-serialized into an instance of the specified job type. Leave empty if your job doesn't need any serialized data.</span>
            <span class="error"></span>
        </label>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="<% if (Id) { print('Update Job'); } else { print('Create Job'); } %>">
            <button type="button" class="btn btn-reset">Cancel</button>
            <a class="btn-delete" href="javascript:void(0);">delete</a>
        </div>

        <div class="form-actions form-actions-delete">
            <label>Are you sure?</label>
            <button type="button" class="btn btn-danger btn-confirm-delete">Yes, Delete</button>
            <button type="button" class="btn btn-cancel-delete">No, Cancel</button>
        </div>

        <div><input type="hidden" name="Id" value="<%= Id %>"></div>
    </fieldset>
</script>

<script type="text/template" id="scheduled-jobs-row-template">
    <td>
        <input type="text" size="2" name="Number"" value="<%- Number %>" data-job-id="<%- Id %>" data-original-value="<%- Number %>">
    </td>
    <td class="title-cell">
        <div class="row-title">
            <a class="btn btn-row-data" data-toggle="collapse" data-target="#row-data-<%- Id %>"><i class="icon-chevron-right"></i></a>
            <a href="javascript:void(0);" class="btn-edit"><%- JobType %></a>
        </div>
        <div id="row-data-<%- Id %>" class="row-data collapse">
            <table>
                <tbody>
                    <tr>
                        <th>Number</th>
                        <td><input type="text" size="2" name="Number"" value="<%- Number %>" data-job-id="<%- Id %>" data-original-value="<%- Number %>"></td>
                    </tr>
                    <tr>
                        <th>Data</th>
                        <td><pre class="prettyprint"><code class="language-js"><% if (Data !== '{}') { print(Data); } %></code></pre></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </td>
    <td><pre class="prettyprint"><code class="language-js"><% if (Data !== '{}') { print(Data); } %></code></pre></td>
</script>

<script type="text/template" id="scheduled-jobs-list-template">
    <thead>
        <tr>
            <th>#</th>
            <th class="title-cell">Type</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody></tbody>
</script>

<script type="text/template" id="scheduled-jobs-template">
    <div class="page-header">
        <button class="btn btn-success btn-add pull-right">
            <i class="icon-plus icon-white"></i>
            Add job
        </button>
        <h1>
            Scheduled Jobs
            <small><%- ApplicationName %></small>
        </h1>
        <h4>
            Belonging to schedule
            <a href="#<%- Fragment %>"><%- ScheduleName %></a>
        </h4>
    </div>

    <div class="row">
        <div class="span8">
            <div class="search"></div>
            <form class="table-form" action="javascript:void(0);">
                <div class="list-header">
                    <table>
                        <tr>
                            <td class="table-paging table-paging-top"></td>
                            <td class="table-actions table-actions-top">
                                <button type="button" class="btn btn-order">Order</button>
                                <button type="button" class="btn btn-refresh"><i class="icon-refresh"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="list"></div>
                <div class="list-footer"></div>
            </form>
        </div>

        <div class="span4 details"></div>
    </div>
</script>