<script type="text/template" id="search-template">
    <fieldset>
        <input type="search" name="q" class="span5 search-query">
        <input type="submit" class="btn btn-primary" value="Search">
        <button type="button" class="btn btn-reset">Clear</button>
    </fieldset>
</script>