<script type="text/template" id="search-template">
    <fieldset>
        <input type="search" name="q" class="span6 search-query">
        <input type="submit" class="btn btn-primary" value="Search">
        <button type="reset" class="btn">Clear</button>
    </fieldset>
</script>