<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="blueCollarService" type="BlueCollar.Service.BlueCollarServiceSection, CollarService" allowDefinition="Everywhere" allowLocation="true" requirePermission="false"/>
  </configSections>
  <blueCollarService>
    <applications>
      <!--
      Add each application to manage by its path on disk. Each application path must be unique.
      Changes to this file can be made without re-starting the service. They will be re-loaded automatically.
      
        @applicationPath (required): The path to the application to boot a Blue Collar machine for.
        @applicationConfigPath (optional): The configuration file to use, if not the target application's default.
        @framework (optional): The framework version to use, if not 4.0 (must be either 3.5 or 4.0).
        @force32Bit (optional): A value indicating whether to force the application to run as 32-bit, even on a 64-bit machine.
      -->
      <!--
      <add applicationPath="C:\Path\To\Application" applicationConfigPath="" framework="3.5" force32Bit="false"/>
      -->
    </applications>
  </blueCollarService>
</configuration>