<p class="download">
	<a class="btn btn-success btn-large" href="https://github.com/ChadBurggraf/blue-collar/releases/download/v1.2.0/BlueCollar.msi" onclick="_gaq.push(['_trackEvent', 'External', 'Download Installer', 'Download installer v{{ site.blueCollarVersion }}']);">
		<i class="icon-download-alt icon-white"></i> 
		Download installer
	</a>

	<a class="btn btn-large" href="https://github.com/ChadBurggraf/blue-collar/releases/download/v1.2.0/BlueCollar-1.2.0.zip" onclick="_gaq.push(['_trackEvent', 'External', 'Download Binaries', 'Download binaries v{{ site.blueCollarVersion }}']);">
		<i class="icon-download"></i>
		Download binaries
	</a>

	<br>

	<a class="btn btn-docs" href="{{ site.baseurl }}quick-start.html">
		View the docs
		<i class="icon-arrow-right icon-white"></i>
	</a>
</p>