<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% if page.title == 'Blue Collar' %} Blue Collar {% else %} {{ page.title }} - Blue Collar {% endif %} v{{ site.blueCollarVersion }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ site.basePath }}/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ site.basePath }}/assets/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" href="{{ site.basePath }}/assets/css/docs.css">
		<!--[if lt IE 9]>
      	<script src="{{ site.basePath }}/assets/js/html5.js"></script>
    	<![endif]-->
	</head>
	<body>