a code {
	border-color: #d14;
}

section {
	padding-top: 40px;
}

.container-landing {
	width: auto;
}

.figure {
	display: inline-block;
	padding: 11px;
	margin-bottom: 11px;
	background-color: #fcfcfc;
	border: 1px solid #f5f5f5;
}

.figure p {
	margin: 0;
	color: #aaa;
	font-size: 13px;
	line-height: 20px;
}

.figure p span {
	color: #888;
}

.figure img {
	display: block;
	margin-bottom: 8px;
}

.footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #e5e5e5;
}

.footer p {
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #555;
}

.forkme {
	display: block;
	position: absolute;
	right: 0;
	width: 149px;
	height: 149px;
}

.hero-unit {
	padding: 0;
	margin: 0;
	background: #0088cc;
	background: -moz-linear-gradient(top,  #0088cc 0%, #0055cc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0088cc), color-stop(100%, #0055cc));
	background: -webkit-linear-gradient(top,  #0088cc 0%, #0055cc 100%);
	background: -o-linear-gradient(top,  #0088cc 0%, #0055cc 100%);
	background: -ms-linear-gradient(top,  #0088cc 0%, #0055cc 100%);
	background: linear-gradient(to bottom,  #0088cc 0%, #0055cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,.2);
	box-shadow: 0 4px 4px rgba(0,0,0,.2);
}

.hero-unit h1 {
	margin-top: 100px;
	font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: 900;
	letter-spacing: -1px;
	font-size: 48px;
	line-height: 1.2;
	color: #e5f0ff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.hero-unit h1 small {
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: normal;
	font-size: 24px;
	color: #87b5f5;
	text-shadow: 0 -1px 0 rgba(0,0,0,.35);
}

.hero-unit .download {
	float: left;
	margin: 64px 0 0;
	text-align: center;
}

.hero-unit .download .btn {
	border-color: rgba(0,0,0,.6);
}

.hero-unit .download .btn-success {
	margin-right: 10px;
	border-color: rgba(0,0,0,.5);
}

.hero-unit .download .btn-docs {
	padding: 3px 10px;
	margin-top: 10px;
	background: transparent;
	color: #E5F0FF;
	border: solid 4px #87B5F5;
	font-size: 13px;
	line-height: 18px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.246094);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.hero-unit .shine {
	height: 419px;
	background: -webkit-gradient(radial, center bottom, 0, center bottom, 419, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0)));
	background: -webkit-radial-gradient(center 100%, circle cover, rgba(255,255,255,.3), rgba(255,255,255,0) 50%);
	background: -moz-radial-gradient(center 100%, circle cover, rgba(255,255,255,.3), rgba(255,255,255,0) 50%);
	background: -ms-radial-gradient(center 100%, circle cover, rgba(255,255,255,.3), rgba(255,255,255,0) 50%);
	background: -o-radial-gradient(center 100%, circle cover, rgba(255,255,255,.3), rgba(255,255,255,0) 50%);
	border-bottom: 1px solid rgba(255,255,255,.6);
}

.hero-unit .span-hero-screenshots {
	margin-top: 40px;
}

.highlight pre {
	position: relative;
	padding: 8px 8px 8px 48px;
	background-color: #f7f7f9;
	border: solid 1px #e1e1e8;
	word-wrap: normal;
	white-space: pre;
	overflow: auto;
	-webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	-moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

.highlight .lineno {
	position: absolute;
	width: 40px;
	left: 0;
	text-align: center;
	color: #bebec5;
}

.landing h2 {
	margin: 36px 0;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}

.landing h2.bottom {
	margin: 0 0 60px;
}

.landing h3 {
	margin: 0 10px 4px 98px;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.2;
}

.landing .byline {
	margin: -27px 0 60px;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	color: #999;
	text-align: center;
}

.navbar {
	margin-bottom: 0;
}

.navbar .container {
	width: 940px;
}

.navbar-inner {
	padding-left: 0;
	padding-right: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: transparent;
	background-image: none;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

code.nuget {
	display: block;
	padding: 15px;
	overflow: auto;
	background-color: #202020;
	border: 4px solid silver;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #6e6e6e;
	-webkit-box-shadow: 2px 2px 3px #6e6e6e;
	box-shadow: 2px 2px 3px #6e6e6e;
	font-family: 'Andale Mono', 'Lucida Console', monospace;
	font-size: 20px;
	line-height: 30px;
	color: #e2e2e2;
}

.page-header {
	position: relative;
}

.page-header h1 {
	font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: 900;
	letter-spacing: -1px;
	font-size: 48px;
	color: #303030;
	line-height: 1.2;
}

.page-header img {
	position: absolute;
	left: 0;
	top: 18px;
}

.page-header p {
	margin-bottom: 0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #aaa;
	line-height: 1.3;
}

.page-header-index h1 {
	margin-left: 70px;
}

.page-header-index p {
	margin-left: 70px;
}

.page-header-subnav {
	padding-bottom: 0;
	border-bottom: none;
}

.page-header-subnav .subnav {
	margin: 22px 0 0;
}

.row-features i {
	float: left;
	margin: 0 10px 10px;
	width: 70px;
	height: 70px;
	border-radius: 80px;
	background-color: #f5f5f5;
	background: url('../img/landing-icons.png') no-repeat #f5f5f5;
}

.row-features i.icon-browser {
	background-position: 0 0;
}

.row-features i.icon-copy {
	background-position: 0 -70px;
}

.row-features i.icon-process {
	background-position: 0 -140px;
}

.row-features i.icon-cargo {
	background-position: 0 -210px;
}

.row-features i.icon-check-circle {
	background-position: 0 -280px;
}

.row-features i.icon-edit {
	background-position: 0 -350px;
}

.row-features p {
	margin-right: 10px;
	margin-left: 98px;
}

.row-features .span-feature {
	margin-bottom: 60px;
}

.sidebar {
	position: relative;
	margin: 22px 0;
}

.sidebar li {
	font-size: 13px;
	line-height: 18px;
}

.subnav {
	width: 100%;
	height: 36px;
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.subnav li {
	font-size: 13px;
	line-height: 18px;
}

.subnav .nav {
	margin-bottom: 0;
}

.subnav .nav > li > a {
	margin: 0;
	padding-top:    11px;
	padding-bottom: 11px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
	padding-left: 13px;
	color: #777;
	background-color: #e9e9e9;
	border-right-color: #ddd;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}

.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
	border-top-color: #777;
}

.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
	border-left: 0;
	padding-left: 12px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.subnav .nav > li:last-child > a {
	border-right: 0;
}

.subnav .dropdown-menu {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.table ul {
	margin-bottom: 0;
}

@media(min-width: 1200px) {
	.navbar .container {
		width: 1170px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (min-width: 980px) {
	.subnav-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 !important;
		z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
		border-color: #d5d5d5;
		border-width: 0 0 1px 1px; /* drop the border on the fixed edges */
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-left-radius: 4px;
		-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
		-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
		box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
	}

	.subnav-fixed .nav {
		margin: 0 auto;
		padding: 0 1px;
	}

	.subnav .nav > li:first-child > a,
	.subnav .nav > li:first-child > a:hover {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

@media (max-width: 979px) {
	.span6.span-hero-title {
		width: 744px;
	}

	.span6.span-hero-screenshots {
		display: none;
	}
}

@media (max-width: 767px) {
	body.landing {
		padding-left: 0;
		padding-right: 0;
	}
}