<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="Blue Collar 1.0" Id="F9268075-481D-4497-976D-BE9D1B6D2406" UpgradeCode="D2BB04C4-543A-4463-AC08-DECBF144FCE0" Language="1033" Codepage="1252" Version="1.0.0" Manufacturer="Tasty Codes">
    <Package Id="*" Description="Blue Collar Installer" InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
    <Media Id="1" Cabinet="BlueCollar.cab" EmbedCab="yes" />
    <PropertyRef Id="NETFRAMEWORK35" />
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <WixVariable Id="WixUIBannerBmp" Value="bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Blue Collar">
          <Directory Id="ReferenceAssembliesFolder" Name="Reference Assemblies">
            <Directory Id="ReferenceAssembliesNet35Folder" Name="Net35">
              <Component Id="ReferenceAssembliesNet35" Guid="47112920-5F7E-4030-8237-FA33DC1C97C1">
                <File Id="BlueCollarDllNet35" Name="BlueCollar.dll" DiskId="1" Source="Reference Assemblies\Net35\BlueCollar.dll" KeyPath="yes" />
                <File Id="BlueCollarPdbNet35" Name="BlueCollar.pdb" DiskId="1" Source="Reference Assemblies\Net35\BlueCollar.pdb" />
                <File Id="BlueCollarXmlNet35" Name="BlueCollar.xml" DiskId="1" Source="Reference Assemblies\Net35\BlueCollar.xml" />
                <File Id="BlueCollarSQLiteRepositoryDllNet35" Name="BlueCollar.SQLiteRepository.dll" DiskId="1" Source="Reference Assemblies\Net35\BlueCollar.SQLiteRepository.dll" />
                <File Id="BlueCollarSQLiteRepositoryPdbNet35" Name="BlueCollar.SQLiteRepository.pdb" DiskId="1" Source="Reference Assemblies\Net35\BlueCollar.SQLiteRepository.pdb" />
                <File Id="BlueCollarSQLiteRepositoryXmlNet35" Name="BlueCollar.SQLiteRepository.xml" DiskId="1" Source="Reference Assemblies\Net35\BlueCollar.SQLiteRepository.xml" />
              </Component>
            </Directory>
            <Directory Id="ReferenceAssembliesNet40Folder" Name="Net40">
              <Component Id="ReferenceAssembliesNet40" Guid="46DA29EA-3187-4B13-B878-AF76988B70A9">
                <File Id="BlueCollarDllNet40" Name="BlueCollar.dll" DiskId="1" Source="Reference Assemblies\Net40\BlueCollar.dll" KeyPath="yes" />
                <File Id="BlueCollarPdbNet40" Name="BlueCollar.pdb" DiskId="1" Source="Reference Assemblies\Net40\BlueCollar.pdb" />
                <File Id="BlueCollarXmlNet40" Name="BlueCollar.xml" DiskId="1" Source="Reference Assemblies\Net40\BlueCollar.xml" />
                <File Id="BlueCollarSQLiteRepositoryDllNet40" Name="BlueCollar.SQLiteRepository.dll" DiskId="1" Source="Reference Assemblies\Net40\BlueCollar.SQLiteRepository.dll" />
                <File Id="BlueCollarSQLiteRepositoryPdbNet40" Name="BlueCollar.SQLiteRepository.pdb" DiskId="1" Source="Reference Assemblies\Net40\BlueCollar.SQLiteRepository.pdb" />
                <File Id="BlueCollarSQLiteRepositoryXmlNet40" Name="BlueCollar.SQLiteRepository.xml" DiskId="1" Source="Reference Assemblies\Net40\BlueCollar.SQLiteRepository.xml" />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="SchemasFolder" Name="Schemas">
            <Component Id="Schemas" Guid="6B8DB8CF-0F0E-4CC0-BB05-4E8D723B95D0">
              <File Id="SqlServerSchemaSql" Name="SqlServer.Schema.sql" DiskId="1" Source="Schemas\SqlServer.Schema.sql" KeyPath="yes" />
              <File Id="SQLiteSchemaSql" Name="SQLite.Schema.sql" DiskId="1" Source="Schemas\SQLite.Schema.sql" />
            </Component>
          </Directory>
          <Directory Id="ServiceFolder" Name="Service">
            <Component Id="Service" Guid="9B16741A-2A46-4A7E-B259-5D992AE0AEB8">
              <File Id="CollarServiceExe" Name="CollarService.exe" DiskId="1" Source="Service\CollarService.exe" KeyPath="yes" />
              <File Id="ServiceNLogConfig" Name="NLog.config" DiskId="1" Source="Service\NLog.config" />
              <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="Blue Collar Service" DisplayName="Blue Collar Service" Description="Manages Blue Collar applications." Start="auto" Account="LocalSystem" ErrorControl="normal" Interactive="no" />
              <ServiceControl Id="ServiceControl" Start="install" Stop="both" Remove="uninstall" Name="Blue Collar Service" Wait="yes" />
            </Component>
            <Component Id="ServiceConfig" Guid="FC96194B-EA9C-4A3D-9FF5-A1AFE43BC2F6" Permanent="yes">
              <File Id="CollarServiceExeConfig" Name="CollarService.exe.config" DiskId="1" Source="Service\CollarService.exe.config" KeyPath="yes" />
            </Component>
            <Directory Id="ServiceAnyCPUFolder" Name="AnyCPU">
              <Directory Id="ServiceAnyCPUNet35Folder" Name="Net35">
                <Component Id="ServiceAnyCPUNet35" Guid="CCADEA03-3746-4B04-8431-2B98B93B213A">
                  <File Id="CollarExeAnyCPUNet35" Name="Collar.exe" DiskId="1" Source="Service\AnyCPU\Net35\Collar.exe" KeyPath="yes" />
                  <File Id="CollarExeConfigAnyCPUNet35" Name="Collar.exe.config" DiskId="1" Source="Service\AnyCPU\Net35\Collar.exe.config" />
                  <File Id="BlueCollarDllAnyCPUNet35" Name="BlueCollar.dll" DiskId="1" Source="Service\AnyCPU\Net35\BlueCollar.dll" />
                  <File Id="ServiceNLogConfigAnyCPUNet35" Name="NLog.config" DiskId="1" Source="Service\AnyCPU\Net35\NLog.config" />
                </Component>
              </Directory>
              <Directory Id="ServiceAnyCPUNet40Folder" Name="Net40">
                <Component Id="ServiceAnyCPUNet40" Guid="82330361-6973-41D1-885F-A4A1557D02EE">
                  <File Id="CollarExeAnyCPUNet40" Name="Collar.exe" DiskId="1" Source="Service\AnyCPU\Net40\Collar.exe" KeyPath="yes" />
                  <File Id="CollarExeConfigAnyCPUNet40" Name="Collar.exe.config" DiskId="1" Source="Service\AnyCPU\Net40\Collar.exe.config" />
                  <File Id="BlueCollarDllAnyCPUNet40" Name="BlueCollar.dll" DiskId="1" Source="Service\AnyCPU\Net40\BlueCollar.dll" />
                  <File Id="ServiceNLogConfigAnyCPUNet40" Name="NLog.config" DiskId="1" Source="Service\AnyCPU\Net40\NLog.config" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="Servicex86Folder" Name="x86">
              <Directory Id="Servicex86Net35Folder" Name="Net35">
                <Component Id="Servicex86Net35" Guid="C3E8B26E-C822-42D9-B4EC-E952B673A5BC">
                  <File Id="CollarExex86Net35" Name="Collar.exe" DiskId="1" Source="Service\x86\Net35\Collar.exe" KeyPath="yes" />
                  <File Id="CollarExeConfigx86Net35" Name="Collar.exe.config" DiskId="1" Source="Service\x86\Net35\Collar.exe.config" />
                  <File Id="BlueCollarDllx86Net35" Name="BlueCollar.dll" DiskId="1" Source="Service\x86\Net35\BlueCollar.dll" />
                  <File Id="ServiceNLogConfigx86Net35" Name="NLog.config" DiskId="1" Source="Service\x86\Net35\NLog.config" />
                </Component>
              </Directory>
              <Directory Id="Servicex86Net40Folder" Name="Net40">
                <Component Id="Servicex86Net40" Guid="DE77CB7A-CE37-4334-B297-9A4E17EF65BA">
                  <File Id="CollarExex86Net40" Name="Collar.exe" DiskId="1" Source="Service\x86\Net40\Collar.exe" KeyPath="yes" />
                  <File Id="CollarExeConfigx86Net40" Name="Collar.exe.config" DiskId="1" Source="Service\x86\Net40\Collar.exe.config" />
                  <File Id="BlueCollarDllx86Net40" Name="BlueCollar.dll" DiskId="1" Source="Service\x86\Net40\BlueCollar.dll" />
                  <File Id="ServiceNLogConfigx86Net40" Name="NLog.config" DiskId="1" Source="Service\x86\Net40\NLog.config" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
          <Component Id="Help" Guid="574D2021-0A6B-49DB-8F51-79BC7D9C0242">
            <File Id="BlueCollarChm" Name="BlueCollar.chm" DiskId="1" Source="BlueCollar.chm" KeyPath="yes" />
          </Component>
          <Component Id="Examples" Guid="B32A1974-4B94-4E19-B240-8506E0FD42A0">
            <File Id="ExamplesZip" Name="Examples.zip" DiskId="1" Source="Examples.zip" KeyPath="yes" />
          </Component>
          <Component Id="Readme" Guid="CF57F64E-C192-4265-A8F2-1CC920646D30">
            <File Id="ReadmeTxt" Name="README.txt" DiskId="1" Source="README.txt" KeyPath="yes" />
          </Component>
          <Component Id="License" Guid="27288833-6DB5-418A-A40C-F855CC2D90C9">
            <File Id="LicenseTxt" Name="LICENSE.txt" DiskId="1" Source="LICENSE.txt" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="Complete" Level="1" Title="Blue Collar" Display="expand" ConfigurableDirectory="INSTALLDIR">
      <ComponentRef Id="ReferenceAssembliesNet35" />
      <ComponentRef Id="ReferenceAssembliesNet40" />
      <ComponentRef Id="Schemas" />
      <ComponentRef Id="Service" />
      <ComponentRef Id="ServiceConfig" />
      <ComponentRef Id="ServiceAnyCPUNet35" />
      <ComponentRef Id="ServiceAnyCPUNet40" />
      <ComponentRef Id="Servicex86Net35" />
      <ComponentRef Id="Servicex86Net40" />
      <ComponentRef Id="Help" />
      <ComponentRef Id="Examples" />
      <ComponentRef Id="Readme" />
      <ComponentRef Id="License" />
    </Feature>
    <CustomAction Id="NoDowngrade" Error="A newer version of [ProductName] is already installed." />
    <InstallExecuteSequence>
      <Custom Action="NoDowngrade" After="FindRelatedProducts">NEWERFOUND</Custom>
    </InstallExecuteSequence>
    <UI>
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>
  </Product>
</Wix>