body 
{
    background: #e5e5e5;
}

a 
{
    text-decoration: underline;
}

footer 
{
    padding: 13px 0 20px;
    margin: 0;
    border: none;
    text-align: right;
}

h1 
{
    margin-bottom: 36px;
    color: #222;
}

h1 small 
{
    display: block;
}

input, 
textarea
{
    color: #000;
    line-height: 20px;
}

input 
{
    height: 20px;
}

label em 
{
    color: #b94a48;
}

legend small 
{
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #858989;
}

pre, 
code, 
kbd, 
samp, 
.code 
{
    font-family: Consolas, Courier, monospace;
}

#forms pre
{
    border: none;
    padding: 0;
    margin: 0;
    width: 280px;
    overflow: auto;
}

select 
{
    color: #000;
    height: 30px;
    line-height: 30px;
}

small 
{
    font-size: 11px;
    line-height: 13px;
}

table#layout 
{
    width: 100%;
    margin: 0;
}

table#layout td#forms 
{
    padding: 25px;
    width: 280px;
    background: #f5f5f5;
    border: none;
}

table#layout td#main 
{
    padding: 25px;
    border: none;
    border-right: solid 1px #e5e5e5;
    background: #fff;
}

#logo 
{
    padding: 15px 25px 30px 65px;
    background: url(logo-header.png) no-repeat 25px 15px;
}

#logo h3 
{
    margin: 0;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 20px;
    line-height: normal;
    color: #000;
    text-shadow: 0 1px 1px #fefefe;
}

#logo p 
{
    margin: 0;
    color: #888;
    font-size: 12px;
    line-height: normal;
    text-shadow: 0 1px 1px #fff;
}

#nav 
{
    margin: 0;
    padding: 25px 0 0;
}

#nav li 
{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 26px;
    vertical-align: top; /* Fix IE7 spacing */
}

#nav a 
{
    display: block;
    padding: 0 5px 0 25px;
    font-size: 15px;
    line-height: 26px;
    text-decoration: none;
}

#nav span 
{
    display: block;
}

#nav .count 
{
    float: right;
    font-size: 10px;
    line-height: 16px;
    padding: 0 6px;
    margin: 5px 0;
    color: #777;
    background: #ccc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#nav .title 
{
    margin-right: 50px;
    text-decoration: underline;
}

#nav a:hover,
#nav a:focus,
#nav a:active 
{
    background-color: #0069D6;
    color: #fff;
}

#nav a:hover .count,
#nav a:focus .count,
#nav a:active .count 
{
    color: #fff;
    background-color: #00438A;
}

#nav a:hover .title,
#nav a:focus .title,
#nav a:active .title
{
    text-decoration: none;
}

#nav a.current 
{
    background-color: #444;
}

#nav a.current .count 
{
    background-color: #666;
    color: #fff;
}

#nav a.current .title 
{
    text-decoration: none;
    color: #fff;
}

#notice 
{
    position: absolute;
    top: -2px;
    border-width: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.actions 
{
    border-top-width: 0;
}

.actions.delete 
{
    padding: 14px;
    margin-left: 0;
    border: solid 1px #fbc7c6;
    background: #fddfde;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.actions.delete label
{
    text-align: center;
    line-height: 13px;
    margin-bottom: 8px;
}

a.badge 
{
    display: inline-block;
    width: 120px;
    height: 44px;
    background: url(tc-badge.png) no-repeat;
}

a.badge span 
{
    display: none;
}

.ie7 input[type="submit"].btn,
.ie7 button.danger,
.ie8 input[type="submit"].btn,
.ie8 button.danger
{
    margin-right: 4px;
}

.ie7 input.btn,
.ie7 button.btn 
{
    padding-bottom: 3px;
}

.ie7 button.btn 
{
    position: relative;
    top: -1px;
    padding-top: 5px;
}

h1 .btn 
{
    float: right;
}

.chart 
{
    border: solid 1px #e5e5e5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}

.chart.pie 
{
    float: left;
    width: 400px;
}

.chart.pie.status 
{
    margin-right: 36px;
}

.chart.line 
{
    clear: left;
    width: 840px;
}

.chart.line.jobs-per-hour 
{
    margin-bottom: 25px;
}

.chart h3 
{
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    border-bottom: solid 1px #e5e5e5;
    background: #f5f5f5;
    margin: 0;
    padding: 10px 10px 9px;
}

.clear 
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    background: ;
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after 
{
    content: "";
    display: table;
}

.clearfix:after 
{
    clear: both;
}

.clearfix 
{
    zoom: 1;
}

.clearfix p 
{
    margin-bottom: 0;
}

.clearfix ul.properties 
{
    margin: 6px 0 0;
    padding: 0;
}

.clearfix ul.properties li 
{
    margin: 0 0 6px;
    padding: 0;
    list-style: none;
}

.clearfix ul.properties input 
{
    width: 125px;
    margin-right: 10px;
}

.clearfix ul.properties input.value 
{
    margin-right: 0;
}

a.close 
{
    text-decoration: none;
}

.container-fluid 
{
    padding-left: 0;
    min-width: 1275px;
    width: auto !important;
    width: 1275px;
}

.container-fluid > .content 
{
    background: #f5f5f5;
    border: solid 1px #ccc;
    margin-left: 155px;
    margin-bottom: 10px;
    -moz-box-shadow: 3px 3px 4px #bbb;
    -webkit-box-shadow: 3px 3px 4px #bbb;
    box-shadow: 3px 3px 4px #bbb;
}

.container-fluid > .sidebar 
{
    width: 155px;
    left: 0;
}

.exception p 
{
    color: #b94a48;
    margin-bottom: 9px !important;
}

form .clearfix.error .error 
{
    color: #b94a48;
}

.form-stacked 
{
    padding: 0;
}

.form-stacked .clearfix 
{
    margin-bottom: 12px;
}

.form-stacked div.clearfix.error 
{
    padding-top: 0;
    padding-bottom: 0;
}

.help-inline,
.help-block,
form .clearfix.error .help-block, 
form .clearfix.error .help-inline
{
    color: #999;
}

.inputs-stacked label 
{
    font-weight: normal;
    margin-top: 3px;
}

.light 
{
    color: #858989;
}

table.list 
{
    position: relative;
    margin: -1px 0 0;
    border-top: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

table.list thead th 
{
    border-top: none;
    background-color: #f5f5f5;
    white-space: nowrap;
}

table.list td small 
{
    display: block;
    margin-top: 3px;
}

.bordered-table.list thead tr:first-child th:first-child, 
.bordered-table.list tbody tr:first-child td:first-child, 
.bordered-table.list thead tr:first-child th:last-child, 
.bordered-table.list tbody tr:first-child td:last-child
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.zebra-striped.list tbody tr:nth-child(odd) td, 
.zebra-striped.list tbody tr:nth-child(odd) th
{
    background-color: #fff;
}

.zebra-striped.list tbody tr:nth-child(even) td, 
.zebra-striped.list tbody tr:nth-child(even) th 
{
    background-color: #f5f5f5;
}

.zebra-striped.list tbody tr:hover td, 
.zebra-striped.list tbody tr:hover th 
{
    background-color: #ffc;
}

.bordered-table.list thead th + th
{
    border-left: none;
}

.list tbody tr.empty:hover td,
.list tbody tr.loading:hover td 
{
    background: #fff;
}

.list tbody tr.empty:hover td,
.list tbody tr.loading:hover td 
{
    background: #fff;
}

.list tbody tr.editing td 
{
    background: #c7eefe !important;
    color: #205791;
}

.list tbody tr.editing td .light 
{
    color: #205791;
}

.list tr.empty p,
.list tr.loading p
{
    position: relative;
    font-size: 17px;
    line-height: 39px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.list tr.loading p 
{
    height: 39px;
}

.list tr.loading span.loading
{
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background: url(loading-list.gif) no-repeat;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.list-date 
{
    white-space: nowrap;
}

.list-header,
.list-footer 
{
    border: solid 1px #e5e5e5;
    background: #f5f5f5;
    padding: 17px 10px;
}

.list-header 
{
    border-bottom: none;
    margin-bottom: -1px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-footer 
{
    border-top: none;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination 
{
    height: 32px;
    margin: 0;
}

.pagination form
{
    margin: 0;
}

.pagination ul 
{
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pagination li 
{
    display: inline;
    list-style-type: none;
}

.pagination a,
.pagination span 
{
    float: left;
    padding: 0 14px;
    line-height: 30px;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #ddd;
    border: 1px solid rgba(0, 0, 0, 0.15);
    *border-color: #ddd;
}

.pagination a.last,
.pagination span.last 
{
    border-left: none;
}

.pagination a:hover
{
    color: #0069d6;
    background-color: #c7eefe;
}

.pagination li.disabled a,
.pagination li.disabled span 
{
    background-color: transparent;
    color: #bfbfbf;
}

.pagination label 
{
    float: left;
    padding: 0;
    width: auto;
    text-align: left;
    white-space: nowrap;
}

.pagination label input 
{
    float: left;
    margin-top: 1px;
    width: 40px;
    text-align: center;
}

.pagination label span 
{
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0);
    *border-color: #f5f5f5;
}

.schedule-repeat select 
{
    width: 175px;
}

.search 
{
    text-align: center;
}

.search input[type="text"] 
{
    height: 22px;
    line-height: 22px;
    width: 400px;
}

table .span1 
{
  width: 40px;
}

table .span2 
{
  width: 100px;
}

table .span3 
{
  width: 160px;
}

table .span4 
{
  width: 220px;
}

table .span5 
{
  width: 280px;
}

table .span6 
{
  width: 340px;
}

table .span7 
{
  width: 400px;
}

table .span8 
{
  width: 460px;

}
table .span9 
{
  width: 520px;
}

table .span10 
{
  width: 580px;
}

table .span11
{
  width: 640px;
}

table .span12 
{
  width: 700px;
}

table .span13 
{
  width: 760px;
}

table .span14 
{
  width: 820px;
}

table .span15 
{
  width: 880px;
}

table .span16 
{
  width: 940px;
}

.stats 
{
    margin-bottom: 40px;
}

.stats-group 
{
    float: left;
    margin: 18px 40px 0 0;
    background: #e5e5e5;
    background: -moz-linear-gradient(top, #fafafa, #e5e5e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e5e5e5));
    border: solid 1px #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.stats-group h4 
{
    position: absolute;
    font-size: 12px;
    line-height: 15px;
    margin-top: -18px;
}

.stats-group table 
{
    margin: 0;
}

.stats-group table td,
.stats-group table th 
{
    text-align: center;
    white-space: nowrap;
    border: none;
    border-right: solid 1px #dcdcdc;
}

.stats-group table td 
{
    padding: 10px 20px 5px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: normal;
    color: #666;
    text-shadow: 0 1px 1px #fff;
}

.stats-group table th 
{
    padding: 0 20px 10px;
    color: #444;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}

.stats-group table td.last,
.stats-group table th.last 
{
    border: none;
}