<script type="text/template" id="dashboard-template">
<p>Boo!</p>
</script>
<script type="text/template" id="nav-item-template">
<a href="<%= Url %>">
<% if (Count !== null) { print('<span class="badge badge-inverse">' + new Number(Count).toAbbreviatedString() + '</span>'); } %>
<%- Name %>
</a>
</script>
