<script type="text/template" id="dashboard-stats-template">
<div class="stats-group">
<table>
<tr>
<td class="working-count"></td>
</tr>
<tr>
<th>
Running now
</th>
</tr>
</table>
</div>
<div class="stats-group">
<h4>In the last 24 hours,</h4>
<table>
<tr>
<td class="succeeded-count"></td>
<td class="not-succeeded-count"></td>
<td class="total-count"></td>
</tr>
<tr>
<th>
Succeeded
</th>
<th>
Did not succeed
</th>
<th>
Total jobs executed
</th>
</tr>
</table>
</div>
</script>
<script type="text/template" id="dashboard-template">
<div class="page-header">
<h1>
Dashboard
<small><%- ApplicationName %></small>
</h1>
</div>
<div class="row dashboard-row">
<div class="span12 stats"></div>
</div>
<div class="row dashboard-row">
<div class="span6">
<div class="chart chart-job-status">
<h3>Job Status - 2 Weeks</h3>
<div class="chart-contents"></div>
</div>
</div>
<div class="span6">
<div class="chart chart-worker-load">
<h3>Worker Load - 2 Weeks</h3>
<div class="chart-contents"></div>
</div>
</div>
</div>
<div class="row dashboard-row">
<div class="span12">
<div class="chart chart-jobs-per-hour">
<h3>Jobs Per Hour By Queue - 2 Weeks</h3>
<div class="chart-contents"</div>
</div>
</div>
</div>
</script>
<script type="text/template" id="history-row-template">
<td>
<div class="row-title">
<a class="btn btn-row-data" data-toggle="collapse" data-target="#row-data-<%- Id %>"><i class="icon-chevron-right"></i></a>
<a href="javascript:void(0);" class="display"><%- JobName %></a>
<small class="code light"><%- JobType %></small>
</div>
<div id="row-data-<%- Id %>" class="row-data collapse">
<table>
<tbody>
<tr>
<th>Schedule</th>
<td><%- ScheduleName || '' %></td>
</tr>
<tr>
<th>Queue</th>
<td><%- QueueName || '' %></td>
</tr>
<tr>
<th>Started On</th>
<td>
<% print(StartedOn.toString('MMM d, yyyy')); %>
<span class="light"><% print(StartedOn.toString('h:mm:ss tt')); %></span>
</td>
</tr>
<tr>
<th>Finished On</th>
<td>
<% print(FinishedOn.toString('MMM d, yyyy')); %>
<span class="light"><% print(FinishedOn.toString('h:mm:ss tt')); %></span>
</td>
</tr>
<tr>
<th>Status</th>
<td><span class="status"><% print(String.historyStatusDisplay(Status)); %></span></td>
</tr>
<tr>
<th>Try</th>
<td><%- TryNumber %></td>
</tr>
</tbody>
</table>
</div>
</td>
<td><%- ScheduleName || '' %></td>
<td><%- QueueName || '' %></td>
<td>
<span class="list-date"><% print(StartedOn.toString('MMM d, yyyy')); %></span>
<small class="list-time light"><% print(StartedOn.toString('h:mm:ss tt')); %></small>
</td>
<td>
<span class="list-date"><% print(FinishedOn.toString('MMM d, yyyy')); %></span>
<small class="list-time light"><% print(FinishedOn.toString('h:mm:ss tt')); %></small>
</td>
<td><span class="status"><% print(String.historyStatusDisplay(Status)); %></span></td>
<td><%- TryNumber %></td>
</script>
<script type="text/template" id="history-list-template">
<thead>
<tr>
<th>Job</th>
<th>Schedule</th>
<th>Queue</th>
<th>Started On</th>
<th>Finished On</th>
<th>Status</th>
<th>Try</th>
</tr>
</thead>
<tbody></tbody>
</script>
<script type="text/template" id="history-template">
<div class="page-header">
<h1>
History
<small><%- ApplicationName %></small>
</h1>
</div>
<div class="row">
<div class="span8">
<div class="search"></div>
<div class="paging-header"></div>
<div class="list"></div>
<div class="paging-footer"></div>
</div>
<div class="span4 details"></div>
</div>
</script>
<script type="text/template" id="nav-item-template">
<a href="<%= Url %>">
<% if (Count !== null) { print('<span class="badge badge-inverse">' + new Number(Count).toAbbreviatedString() + '</span>'); } %>
<%- Name %>
</a>
</script>
<script type="text/template" id="notice-template">
<a class="close" href="javascript:void(0);">×</a>
<% if (Title) { print($('<h5/>').text(Title).outerHtml()); } %>
<p><%- Message %></p>
</script>
<script type="text/template" id="pager-template">
<form action="javascript:void(0);">
<ul>
<li class="pagination-previous"><a href="javascript:void(0);">&laquo; Prev</a></li>
<li>
<label>
<span>Page</span>
<input type="text" name="PageNumber" value="<%- PageNumber %>">
<span>of</span>
</label>
<a class="pagination-count" href="javascript:void(0);"><% print(new Number(PageCount).format('0,000')); %></a>
<span class="pagination-count"><% print(new Number(PageCount).format('0,000')); %></span>
</li>
<li class="pagination-next"><a href="javascript:void(0);">Next &raquo;</a></li>
</ul>
</form>
</script>
<script type="text/template" id="queue-row-template">
<td>
<div class="row-title">
<a class="btn btn-row-data" data-toggle="collapse" data-target="#row-data-<%- Id %>"><i class="icon-chevron-right"></i></a>
<a href="javascript:void(0);" class="btn-display"><%- JobName %></a>
<small class="code light"><%- JobType %></small>
</div>
<div id="row-data-<%- Id %>" class="row-data collapse">
<table>
<tbody>
<tr>
<th>Schedule</th>
<td><%- ScheduleName || '' %></td>
</tr>
<tr>
<th>Queue</th>
<td><%- QueueName || '' %></td>
</tr>
<tr>
<th>Queued On</th>
<td>
<% print(QueuedOn.toString('MMM d, yyyy')); %>
<span class="light"><% print(QueuedOn.toString('h:mm:ss tt')); %></span>
</td>
</tr>
<tr>
<th>Try</th>
<td><%- TryNumber %></td>
</tr>
</tbody>
</table>
</div>
</td>
<td><%- ScheduleName || '' %></td>
<td><%- QueueName || '' %></td>
<td>
<span class="list-date"><% print(QueuedOn.toString('MMM d, yyyy')); %></span>
<small class="list-time light"><% print(QueuedOn.toString('h:mm:ss tt')); %></small>
</td>
<td><%- TryNumber %></td>
</script>
<script type="text/template" id="queue-list-template">
<thead>
<tr>
<th>Job</th>
<th>Schedule</th>
<th>Queue</th>
<th>Queued On</th>
<th>Try</th>
</tr>
</thead>
<tbody></tbody>
</script>
<script type="text/template" id="queue-template">
<div class="page-header">
<h1>
Queue
<small><%- ApplicationName %></small>
</h1>
</div>
<div class="row">
<div class="span8">
<div class="search"></div>
<div class="paging-header"></div>
<div class="list"></div>
<div class="paging-footer"></div>
</div>
<div class="span4 details"></div>
</div>
</script>
<script type="text/template" id="schedules-row-template">
<td>
<div class="row-title">
<a class="btn btn-row-data" data-toggle="collapse" data-target="#row-data-<%- Id %>"><i class="icon-chevron-right"></i></a>
<a href="javascript:void(0);" class="btn-edit"><%- Name %></a>
</div>
<div id="row-data-<%- Id %>" class="row-data collapse">
<table>
<tbody>
<tr>
<th>Start On</th>
<td>
<% print(StartOn.toString('MMM d, yyyy')); %>
<span class="light"><% print(StartOn.toString('h:mm:ss tt')); %></span>
</td>
</tr>
<tr>
<th>End On</th>
<td>
<% if (EndOn) { print(EndOn.toString('MMM d, yyyy') + ' <span class="list-tim light">' + EndOn.toString('h:mm:ss tt') + '</span>'); } %>
</td>
</tr>
<tr>
<th>Queue</th>
<td><% print($.htmlEncode(QueueName || '*')); %></td>
</tr>
<tr>
<th>Repeat</th>
<td>
<% print(String.scheduleRepeatTypeDisplay(RepeatType, RepeatValue)); %>
</td>
</tr>
<tr>
<th>Enabled</th>
<td>
<% if (Enabled) { print('Yes'); } else { print('No'); } %>
</td>
</tr>
<tr>
<th>Jobs</th>
<td><a href="javascript:void(0);" class="btn-manage">Manage (<%- JobCount %>)</a></td>
</tr>
</tbody>
</table>
</div>
</td>
<td>
<span class="list-date"><% print(StartOn.toString('MMM d, yyyy')); %></span>
<small class="list-time light"><% print(StartOn.toString('h:mm:ss tt')); %></small>
</td>
<td>
<% if (EndOn) { print('<span class="list-date">' + EndOn.toString('MMM d, yyyy') + '</span><small class="list-tim light">' + EndOn.toString('h:mm:ss tt') + '</small>'); } %>
</td>
<td><% print($.htmlEncode(QueueName || '*')); %></td>
<td><% print(String.scheduleRepeatTypeDisplay(RepeatType, RepeatValue)); %></td>
<td><% if (Enabled) { print('Yes'); } else { print('No'); } %></td>
<td><a href="javascript:void(0);" class="btn-manage">Manage (<%- JobCount %>)</a></td>
</script>
<script type="text/template" id="schedules-list-template">
<thead>
<tr>
<th>Name</th>
<th>Start On</th>
<th>End On</th>
<th>Queue</th>
<th>Repeat</th>
<th>Enabled</th>
<th>Jobs</th>
</tr>
</thead>
<tbody></tbody>
</script>
<script type="text/template" id="schedules-template">
<div class="page-header">
<h1>
Schedules
<small><%- ApplicationName %></small>
</h1>
</div>
<div class="row">
<div class="span8">
<div class="search"></div>
<div class="paging-header"></div>
<div class="list"></div>
<div class="paging-footer"></div>
</div>
<div class="span4 details"></div>
</div>
</script>
<script type="text/template" id="search-template">
<fieldset>
<input type="search" name="q" class="span6 search-query">
<input type="submit" class="btn btn-primary" value="Search">
<button type="button" class="btn btn-reset">Clear</button>
</fieldset>
</script>
<script type="text/template" id="workers-edit-template">
<fieldset>
<p class="legend"><% if (!Id) { print('Add Worker'); } else { print('Edit Worker'); } %></p>
<div class="alert alert-block alert-error"></div>
<label class="field">
<span>Name <em>*</em></span>
<input type="text" name="Name">
<span class="error"></span>
</label>
<div class="field field-choose" style="display:none;">
<span>Machine <em>*</em></span>
<span class="help-block help-block-above">
Machine not listed?
<a href="javascript:void(0);">Enter one instead</a>
</span>
<select></select>
<span class="error"></span>
</div>
<div class="field field-stacked field-enter" style="display:none;">
<span>Machine <em>*</em></span>
<span class="help-block help-block-above">
Enter a name and/or IP address.<br>
<a href="javascript:void(0);">Choose an existing machine</a>
</span>
<label>
<span>Machine name</span>
<input type="text" name="MachineName">
</label>
<label>
<span>IP address</span>
<input type="text" name="MachineAddress">
</label>
<span class="error"></span>
</div>
<label class="field">
<span>Queues</span>
<textarea rows="5" name="QueueNames"><%- QueueNames %></textarea>
<span class="help-block">
Optional. Limit which queues the worker will process by entering one queue name per line.
Blacklist instead of whitelist a queue by prefixing its name with <code>not:</code>
</span>
<span class="error"></span>
</label>
<div class="field">
<span>Startup <em>*</em></span>
<label class="radio">
<input type="radio" name="Startup" value="Automatic">
Automatic
</label>
<label class="radio">
<input type="radio" name="Startup" value="Manual">
Manual
</label>
<span class="error"></span>
</div>
<div class="form-actions">
<input type="submit" class="btn btn-primary" value="Update Worker">
<button type="button" class="btn btn-reset">Cancel</button>
<a class="btn-delete" href="javascript:void(0);">delete</a>
</div>
<div class="form-actions form-actions-delete">
<label>Are you sure?</label>
<button type="button" class="btn btn-danger btn-confirm-delete">Yes, Delete</button>
<button type="button" class="btn btn-cancel-delete">No, Cancel</button>
</div>
<div><input type="hidden" name="Id" value="<%= Id %>"></div>
</fieldset>
</script>
<script type="text/template" id="workers-row-template">
<td>
<div class="row-title">
<a class="btn btn-row-data" data-toggle="collapse" data-target="#row-data-<%- Id %>"><i class="icon-chevron-right"></i></a>
<a href="javascript:void(0);" class="btn-edit"><%- Name %></a>
</div>
<div id="row-data-<%- Id %>" class="row-data collapse">
<table>
<tbody>
<tr>
<th>Machine</th>
<td><% print(String.machineDisplayLight(MachineName, MachineAddress)); %></td>
</tr>
<tr>
<th>Queues</th>
<td><% print($.htmlEncode(String.queueNamesDisplay(QueueNames))); %></td>
</tr>
<tr>
<th>Status</th>
<td><%- Status %></td>
</tr>
<tr>
<th>Signal</th>
<td><% if (Signal === 'None') { print('<a class="btn-signal" href="javascript:void(0);">' + $.htmlEncode(Signal) + '</a>'); } else { print($.htmlEncode(Signal)); } %></td>
</tr>
<tr>
<th>Startu</th>
<td><%- Startup %></td>
</tr>
</tbody>
</table>
</div>
</td>
<td><% print(String.machineDisplayLight(MachineName, MachineAddress)); %></td>
<td><% print($.htmlEncode(String.queueNamesDisplay(QueueNames))); %></td>
<td><%- Status %></td>
<td><% if (Signal === 'None') { print('<a class="btn-signal" href="javascript:void(0);">' + $.htmlEncode(Signal) + '</a>'); } else { print($.htmlEncode(Signal)); } %></td>
<td><%- Startup %></td>
</script>
<script type="text/template" id="workers-list-template">
<thead>
<tr>
<th>Name</th>
<th>Machine</th>
<th>Queues</th>
<th>Status</th>
<th>Signal</th>
<th>Startup</th>
</tr>
</thead>
<tbody></tbody>
</script>
<script type="text/template" id="workers-template">
<div class="page-header">
<h1>
Workers
<small><%- ApplicationName %></small>
</h1>
</div>
<div class="row">
<div class="span8">
<div class="search"></div>
<div class="paging-header"></div>
<div class="list"></div>
<div class="paging-footer"></div>
</div>
<div class="span4 details"></div>
</div>
</script>
<script type="text/template" id="working-row-template">
<td>
<div class="row-title">
<a class="btn btn-row-data" data-toggle="collapse" data-target="#row-data-<%- Id %>"><i class="icon-chevron-right"></i></a>
<a href="javascript:void(0);" class="btn-display"><%- JobName %></a>
<small class="code light"><%- JobType %></small>
</div>
<div id="row-data-<%- Id %>" class="row-data collapse">
<table>
<tbody>
<tr>
<th>Schedule</th>
<td><%- ScheduleName || '' %></td>
</tr>
<tr>
<th>Queue</th>
<td><%- QueueName || '' %></td>
</tr>
<tr>
<th>Worker</th>
<td>
<%- WorkerName %>
<span class="light"><% print(String.machineDisplayParens(WorkerMachineName, WorkerMachineAddress)); %></span>
</td>
</tr>
<tr>
<th>Queued On</th>
<td>
<% print(QueuedOn.toString('MMM d, yyyy')); %>
<span class="light"><% print(QueuedOn.toString('h:mm tt')); %></span>
</td>
</tr>
<tr>
<th>Started On</th>
<td>
<% print(StartedOn.toString('MMM d, yyyy')); %>
<span class="light"><% print(StartedOn.toString('h:mm tt')); %></span>
</td>
</tr>
<tr>
<th>Signal</th>
<td><% if (Signal === 'None') { print('<a class="btn-signal" href="javascript:void(0);">' + $.htmlEncode(Signal) + '</a>'); } else { print($.htmlEncode(Signal)); } %></td>
</tr>
<tr>
<th>Try</th>
<td><%- TryNumber %></td>
</tr>
</tbody>
</table>
</div>
</td>
<td><%- ScheduleName || '' %></td>
<td><%- QueueName || '' %></td>
<td>
<%- WorkerName %>
<small class="light"><% print(String.machineDisplayParens(WorkerMachineName, WorkerMachineAddress)); %></small>
</td>
<td>
<% print(QueuedOn.toString('MMM d, yyyy h:mm tt')); %>
<small class="light"><strong>Started On</strong></small>
<small class="light"><% print(StartedOn.toString('MMM d, yyyy h:mm tt')); %></small>
</td>
<td><% if (Signal === 'None') { print('<a class="btn-signal" href="javascript:void(0);">' + $.htmlEncode(Signal) + '</a>'); } else { print($.htmlEncode(Signal)); } %></td>
<td><%- TryNumber %></td>
</script>
<script type="text/template" id="working-list-template">
<thead>
<tr>
<th>Job</th>
<th>Schedule</th>
<th>Queue</th>
<th>Worker</th>
<th>Queued On</th>
<th>Signal</th>
<th>Try</th>
</tr>
</thead>
<tbody></tbody>
</script>
<script type="text/template" id="working-template">
<div class="page-header">
<h1>
Working
<small><%- ApplicationName %></small>
</h1>
</div>
<div class="row">
<div class="span8">
<div class="search"></div>
<div class="paging-header"></div>
<div class="list"></div>
<div class="paging-footer"></div>
</div>
<div class="span4 details"></div>
</div>
</script>
