{% include header.html %}

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="sidebar">
						<ul class="nav nav-list">
							<li class="active">
								<a href="{{ site.basePath }}/">Introduction</a>
							</li>
							<li class="divider"></li>
							<li class="nav-header">Getting Started</li>
						</ul>
					</div>
				</div>
				
				<div class="span9">
					<div class="page-header">
						<h1>
							<img src="{{ site.basePath }}/assets/img/logo-header.png" width="36" height="36" alt="">
							<span>Blue Collar</span>
						</h1>
					</div>

					<div class="content">
						{{ content }}

					</div>
				</div>
			</div>
		</div>

{% include footer.html %}