{% include header.html %}

	<body data-spy="scroll" data-target=".subnav" data-offset="80">
		<a class="forkme" href="https://github.com/ChadBurggraf/blue-collar" onclick="_gaq.push(['_trackEvent', 'External', 'GitHub Project', 'View project on GitHub']);">
			<img src="{{ site.baseurl }}img/forkme.png" width="149" height="149" alt="Fork me on GitHub">
		</a>
		
		<div class="container">
			<div class="row">
				<div class="span3">
					{% include sidebar.html %}
				</div>
				
				<div class="span9">
					{{ content }}
				</div>
			</div>
		
			{% include footer.html %}
		</div>

		<script src="{{ site.baseurl }}js/app-{{ site.docsVersion }}.js"></script>
	</body>
</html>