{% include header.html %}

	<body class="landing" data-spy="scroll" data-target=".subnav" data-offset="80">
		<div class="fork"><a href="https://github.com/ChadBurggraf/blue-collar">Fork me on GitHub</a></div>

		<div class="container container-landing">
			<div class="hero-unit">
				<div class="shine">
					<div class="container">
						<div class="row">
							<div class="span6">
								<h1>
									Blue Collar
									<small>Background jobs and scheduled work for .NET.</small>
								</h1>

								<p class="download">
									<a class="btn btn-success btn-large" href="https://github.com/downloads/ChadBurggraf/blue-collar/BlueCollar.msi">
										<i class="icon-download-alt icon-white"></i> 
										Download installer
									</a>
									<a class="btn btn-large" href="https://github.com/downloads/ChadBurggraf/blue-collar/BlueCollar-{{ site.blueCollarVersion }}.zip">
										<i class="icon-download"></i>
										Download binaries
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="js/app.js"></script>
	</body>
</html>