{% include header.html %}

	<body class="landing" data-spy="scroll" data-target=".subnav" data-offset="80">
		<div class="fork"><a href="https://github.com/ChadBurggraf/blue-collar">Fork me on GitHub</a></div>

		<div class="container container-landing">
			<div class="hero-unit">
				<div class="shine">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container">
								<ul class="nav">
									<li>
										<a class="btn" href="{{ site.baseurl }}quick-start.html">
											Docs
											<i class="icon-arrow-right"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="span6 span-hero-title">
								<h1>
									Blue Collar
									<small>Background jobs and scheduled work for .NET.</small>
								</h1>

								<p class="download">
									<a class="btn btn-success btn-large" href="https://github.com/downloads/ChadBurggraf/blue-collar/BlueCollar.msi">
										<i class="icon-download-alt icon-white"></i> 
										Download installer
									</a>
									<a class="btn btn-large" href="https://github.com/downloads/ChadBurggraf/blue-collar/BlueCollar-{{ site.blueCollarVersion }}.zip">
										<i class="icon-download"></i>
										Download binaries
									</a>
								</p>
							</div>

							<div class="span6 span-hero-screenshots">
								<img src="{{ site.baseurl }}img/screenshots.png" width="554" height="379" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			{{ content }}
		</div>

		<script src="{{ site.baseurl }}js/app.js"></script>
	</body>
</html>