{% include header.html %}

	<body class="landing">
		<a class="forkme" href="https://github.com/ChadBurggraf/blue-collar" onclick="_gaq.push(['_trackEvent', 'External', 'GitHub Project', 'View project on GitHub']);">
			<img src="{{ site.baseurl }}img/forkme-landing.png" width="149" height="149" alt="Fork me on GitHub">
		</a>

		<div class="container container-landing">
			<div class="hero-unit">
				<div class="shine">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container">
								<ul class="nav">
									<li>
										<a class="btn" href="{{ site.baseurl }}quick-start.html">
											Docs
											<i class="icon-arrow-right icon-white"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="span6 span-hero-title">
								<h1>
									Blue Collar
									<small>Background jobs and scheduled work for .NET.</small>
								</h1>

								{% include download.html %}
							</div>

							<div class="span6 span-hero-screenshots">
								<img src="{{ site.baseurl }}img/screenshots.png" width="554" height="379" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			{{ content }}

			{% include footer.html %}
		</div>

		<script src="{{ site.baseurl }}js/app-{{ site.docsVersion }}.js"></script>
	</body>
</html>