/**!
 * @preserve Blue Collar v${Version}
 *
 * @author Chad Burggraf
 * @copyright Copyright (c) 2012 Chad Burggraf, Tasty Codes
 * @license Blue Collar may be freely distributed and modified under the MIT license
 * @website https://github.com/ChadBurggraf/blue-collar
 */
(function() {